<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="http://192.168.0.41:4000">Seely Street B & B</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about/about.html">About</a>
        </li>
        <li>
          <a href="#">Rooms</a>
          <ul class="nav-dropdown">
            <li>
              <a href="/rooms/seely.html">Seely</a>
            </li>
            <li>
              <a href="/rooms/fundy.html">Fundy</a>
            </li>
            <li>
              <a href="/rooms/deer.html">Deer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Pricing</a>
        </li>
        <li>
          <a href="/contact/contact.html">Contact</a>
        </li>
        <li>
          <a href="/contact/location.html">Find Us</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
